<!doctype html>
<html lang="ja">

<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# website: https://ogp.me/ns/article#">
<meta charset="Shift_JIS">
<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<meta name="viewport" content="width=device-width,initial-scale=1">
<%
  site_config  = {
    area : "shuto",
    prop : "sakurajosui",
    tel_link : "tel:0120038876",
    meta_link : "https://www.sumitomo-rd-mansion.jp/gallery/",
    requested_only : "#requested_only",
    twitter_link : "https://twitter.com/ch_yushimasc",
    insta_link : "https://www.instagram.com/ch_yushimasc"
  };
  folder_name = site_config.area+"/"+site_config.prop+"/";
%>
<!-- ▼ title、description、keywordsを指定してください ▼ -->
<!-- meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="<%= config.keywords %>">
<meta name="description" content="<%= config.description %>">

<meta property="og:url" content="https://www.sumitomo-rd-mansion.jp/<%= folder_name%>">
<meta property="og:type" content="article">
<meta property="og:title" content="<%= config.title %>">
<meta property="og:description" content="<%= config.description %>">
<meta property="og:site_name" content="コンセプト｜【公式】シティハウス湯島ステーションコート｜湯島の新築マンション｜住友不動産">
<meta property="og:image" content="<%= config.directory_pos %>images/top/ogp.jpg" />


<link rel="canonical" href="https://www.sumitomo-rd-mansion.jp/<%= folder_name%>">
<link rel="icon" href="<%= config.directory_pos %>/images/favicon.ico" alt="" id="favicon">

<title><%= config.title %></title>

<link rel="index" href="index.html">

<script src="<%= config.directory_pos %>static/js/jquery.js"></script>
<script>
// akam-sw.js install script version 1.3.6
"serviceWorker"in navigator&&"find"in[]&&function(){var e=new Promise(function(e){"complete"===document.readyState||!1?e():(window.addEventListener("load",function(){e()}),setTimeout(function(){"complete"!==document.readyState&&e()},1e4))}),n=window.akamServiceWorkerInvoked,r="1.3.6";if(n)aka3pmLog("akam-setup already invoked");else{window.akamServiceWorkerInvoked=!0,window.aka3pmLog=function(){window.akamServiceWorkerDebug&&console.log.apply(console,arguments)};function o(e){(window.BOOMR_mq=window.BOOMR_mq||[]).push(["addVar",{"sm.sw.s":e,"sm.sw.v":r}])}var i="/akam-sw.js",a=new Map;navigator.serviceWorker.addEventListener("message",function(e){var n,r,o=e.data;if(o.isAka3pm)if(o.command){var i=(n=o.command,(r=a.get(n))&&r.length>0?r.shift():null);i&&i(e.data.response)}else if(o.commandToClient)switch(o.commandToClient){case"enableDebug":window.akamServiceWorkerDebug||(window.akamServiceWorkerDebug=!0,aka3pmLog("Setup script debug enabled via service worker message"),v());break;case"boomerangMQ":o.payload&&(window.BOOMR_mq=window.BOOMR_mq||[]).push(o.payload)}aka3pmLog("akam-sw message: "+JSON.stringify(e.data))});var t=function(e){return new Promise(function(n){var r,o;r=e.command,o=n,a.has(r)||a.set(r,[]),a.get(r).push(o),navigator.serviceWorker.controller&&(e.isAka3pm=!0,navigator.serviceWorker.controller.postMessage(e))})},c=function(e){return t({command:"navTiming",navTiming:e})},s=null,m={},d=function(){var e=i;return s&&(e+="?othersw="+encodeURIComponent(s)),function(e,n){return new Promise(function(r,i){aka3pmLog("Registering service worker with URL: "+e),navigator.serviceWorker.register(e,n).then(function(e){aka3pmLog("ServiceWorker registration successful with scope: ",e.scope),r(e),o(1)}).catch(function(e){aka3pmLog("ServiceWorker registration failed: ",e),o(0),i(e)})})}(e,m)},g=navigator.serviceWorker.__proto__.register;if(navigator.serviceWorker.__proto__.register=function(n,r){return n.includes(i)?g.call(this,n,r):(aka3pmLog("Overriding registration of service worker for: "+n),s=new URL(n,window.location.href),m=r,navigator.serviceWorker.controller?new Promise(function(n,r){var o=navigator.serviceWorker.controller.scriptURL;if(o.includes(i)){var a=encodeURIComponent(s);o.includes(a)?(aka3pmLog("Cancelling registration as we already integrate other SW: "+s),navigator.serviceWorker.getRegistration().then(function(e){n(e)})):e.then(function(){aka3pmLog("Unregistering existing 3pm service worker"),navigator.serviceWorker.getRegistration().then(function(e){e.unregister().then(function(){return d()}).then(function(e){n(e)}).catch(function(e){r(e)})})})}else aka3pmLog("Cancelling registration as we already have akam-sw.js installed"),navigator.serviceWorker.getRegistration().then(function(e){n(e)})}):g.call(this,n,r))},navigator.serviceWorker.controller){var u=navigator.serviceWorker.controller.scriptURL;u.includes("/akam-sw.js")||u.includes("/akam-sw-preprod.js")||u.includes("/threepm-sw.js")||(aka3pmLog("Detected existing service worker. Removing and re-adding inside akam-sw.js"),s=new URL(u,window.location.href),e.then(function(){navigator.serviceWorker.getRegistration().then(function(e){m={scope:e.scope},e.unregister(),d()})}))}else e.then(function(){window.akamServiceWorkerPreprod&&(i="/akam-sw-preprod.js"),d()});if(window.performance){var w=window.performance.timing,l=w.responseEnd-w.responseStart;c(l)}e.then(function(){t({command:"pageLoad"})});var k=!1;function v(){window.akamServiceWorkerDebug&&!k&&(k=!0,aka3pmLog("Initializing debug functions at window scope"),window.aka3pmInjectSwPolicy=function(e){return t({command:"updatePolicy",policy:e})},window.aka3pmDisableInjectedPolicy=function(){return t({command:"disableInjectedPolicy"})},window.aka3pmDeleteInjectedPolicy=function(){return t({command:"deleteInjectedPolicy"})},window.aka3pmGetStateAsync=function(){return t({command:"getState"})},window.aka3pmDumpState=function(){aka3pmGetStateAsync().then(function(e){aka3pmLog(JSON.stringify(e,null,"\t"))})},window.aka3pmInjectTiming=function(e){return c(e)},window.aka3pmUpdatePolicyFromNetwork=function(){return t({command:"pullPolicyFromNetwork"})})}v()}}();</script>

<!-- ▼ ここから下にフリーエリアのCSS、JSを指定してください ▼ -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;700&family=Noto+Serif+JP:wght@500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="<%= config.directory_pos %>font/fontawesome/./css/all.css">
<link rel="stylesheet" href="<%= config.directory_pos %>css/slick-theme.css">
<link rel="stylesheet" href="<%= config.directory_pos %>css/slick.css">
<link rel="stylesheet" href="<%= config.directory_pos %>css/reset.css">
<link rel="stylesheet" href="<%= config.directory_pos %>css/common.css">
<link href="/proptopics/css/topics.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="./css/leaflet.css">
<% config.add_stylesheet.forEach(function (value, key) { %>
<link href="<%= config.directory_pos %><%= value %>" rel="stylesheet">
<% }); %>

<script src="<%= config.directory_pos %>js/jquery-3.6.3.min.js"></script>
<script src="<%= config.directory_pos %>js/slick.min.js"></script>
<script src="<%= config.directory_pos %>js/common.js"></script>
<script type="text/javascript" src="/proptopics/js/topics.js" charset="EUC-JP"></script>
<script type="text/javascript" src="<%= config.directory_pos %>js/jquery-ui.min.js"></script>
<script type="text/javascript" src="<%= config.directory_pos %>js/leaflet.js"></script>
<script type="text/javascript" src="<%= config.directory_pos %>js/imgViewer2.js"></script>
<% config.add_script.forEach(function (value, key) { %>
<script src="<%= config.directory_pos %><%= value %>"></script>
<% }); %>
<!-- init -->
<!-- ▲ ここから上にフリーエリアのCSS、JSを指定してください ▲ -->
</head>


<body id="<%= config.page_id %>">
<div class="body-wrapper position-relative">
    
<header id="header">
  <div class="header-wrapper d-flex align-items-center justify-content-between">
    <h1 class="header-logo">
      <a href="index.html">
        <figure><img src="<%= config.directory_pos %>images/common/logo.svg" alt=""></figure>
        <p></p>
      </a>
    </h1><!-- header-logo -->
    <div class="header-right d-flex">
      <div class="header-btn bg_btn"><p>来場予約</p></div>
        <a href="javascript:online();" class="header-btn bg_btn"><p>オンライン<br>見学会予約</p></a>
        <a href="javascript:delivery();" class="header-btn bg_btn"><p>出前deオンライン<br>見学会予約 </p></a>
        <a href="javascript:shiryo();" class="header-btn header-btn--request bg_btn--request"><p>資料請求</p></a>
        <div id="sp-menu-btn" class="hamburger">
        <p>MENU</p>
        <div class="menu-trigger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
  </div><!-- header-right -->
  <div class="header-menu">
    <div class="container d-flex flex-wrap justify-content-between align-items-start">
      <nav>
        <ul>
          <li>
            <a href="<%= config.directory_pos %>"><span class="f-en">TOP</span><br>トップ</a>
          </li>
          <li>
            <a href="<%= config.directory_pos %>concept.html"><span class="f-en">CONCEPT</span><br>コンセプト</a>
          </li>
          <li>
            <p><span class="f-en">DESIGN</span><br>デザイン</p>
          </li>
          <li>
              <p><span class="f-en">COMMON SPACE</span><br>共&#12132;空間</p>
          </li>
          <li>
            <p><span class="f-en">PRIVATE SPACE</span><br>室内空間</p>
          </li>
        </ul>
        <ul>
          <li>
            <p><span class="f-en">PLAN</span><br>間取り</p>
          </li>
          <li>
            <p><span class="f-en">EQUIPMENT ・QUALITY</span><br>設備・仕様</p>
          </li>
          <li>
            <p><span class="f-en">STRUCTURE・SAFETY</span><br>構造・防災</p>
          </li>
          <li class="has-child">
            <p class="active"><span class="f-en">LOCATION</span><br>ロケーション</p>
            <div class="sub-menu">
              <a href="<%= config.directory_pos %>location01.html">東京の中枢を間近に暮らす</a>
              <a href="<%= config.directory_pos %>location02.html">由緒と緑景が織りなす地</a>
              <a href="<%= config.directory_pos %>location03.html" class="finish">多彩な賑わいに華やぐ街</a>
            </div>
          </li>
          <li>
            <a href="<%= config.directory_pos %>access.html"><span class="f-en">ACCESS</span><br>アクセス</a>
          </li>
        </ul>
      </nav>
      <div class="header-menu-right">
        <ul class="header-menu-btn">
          <li class="reserve bg_btn"><a href="javascript:raijo();">来場予約</a></li>
          <li class="online bg_btn--gray"><p>オンライン見学会予約</p></li>
          <li class="delivery bg_btn--gray"><p>出前deオンライン<br>見学会予約</p></li>
          <li class="limited bg_btn--gallery"><a href="#">資料請求者限定ページ</a></li>
          <li class="gallery bg_btn--gallery"><a href="#">メタマンションギャラリー</a></li>
          <li class="request bg_btn--request"><a href="javascript:shiryo();">資料請求</a></li>
        </ul>
        <div class="header-menu-other">
          <ul>
            <li><a href="map.html" target="_blank">現地案内図</a></li>
            <li><a href="/<%= folder_name%>faq.cgi" target="_blank">FAQ</a></li>
            <li><a href="javascript:outline();">物件概要</a></li>
            <li><p>マンション情報ブログ</p></li>
          </ul>
          <div class="header-sns">
            <a href="<%=site_config.twitter_link %>" target="_blank"><img src="./images/common/icn_twitter.png" alt="Twitter"></a>
            <a href="<%=site_config.insta_link %>" target="_blank"><img src="./images/common/icn_instagram.png" alt="Instagram"></a>
          </div><!-- header-sns -->
        </div><!-- header-menu-other -->
      </div><!-- header-menu-right -->
    </div><!-- container -->
  </div><!--//header-menu -->
  <div class="sp-menu">
    <nav>
      <ul>
        <li><a href="<%= config.directory_pos %>">トップ</a></li>
        <li><a href="<%= config.directory_pos %>concept.html">コンセプト</a></li>
        <li>デザイン</li>
        <li>共&#12132;空間</li>
        <li>室内空間</li>
        <li>間取り</li>
        <li>設備・仕様</li>
        <li>構造・防災</li>
        <li><a href="<%= config.directory_pos %>location01.html">ロケーション</a></li>
        <li><a href="<%= config.directory_pos %>access.html">アクセス</a></li>
        <li><a href="<%= config.directory_pos %>map.html" target="_blank">現地案内図</a></li>
        <li><a href="javascript:outline();">物件概要</a></li>
        <li><a href="javascript:blog();">マンション情報ブログ</a></li>
        <li><a href="/<%= folder_name%>faq.cgi" target="_blank">FAQ</a></li>
        <li><a href="javascript:raijo();">来場予約</a></li>
        <li><a href="javascript:siryo();">資料請求</a></li>
      </ul>
    </nav>
    <div class="sp-menu-sns d-flex justify-content-center align-items-center">
      <a href="<%=site_config.twitter_link %>" target="_blank"><img src="<%= config.directory_pos %>images/common/icn_twitter.png" alt="Twitter"></a>
      <a href="<%=site_config.insta_link %>" target="_blank"><img src="<%= config.directory_pos %>images/common/icn_instagram.png" alt="Instagram"></a>
    </div>
  </div><!--//sp-menu -->
</header>
<!-- #header -->